.scroll-stack-scroller {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.scroll-stack-inner {
  padding: 85px 2rem 50rem;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .scroll-stack-inner {
    padding: 70px 1rem 20rem;
  }
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  height: 25rem;
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  padding: 3rem;
  border-radius: 30px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}

@media (max-width: 767px) {
  .scroll-stack-card {
    height: 20rem;
    max-width: 90%;
    padding: 2rem;
  }
}
